
@{
    ViewBag.Title = "Index_flower";
    Layout = "~/Views/Shared/FlowerLayout.cshtml";
}

<div id="featured-content">
    <div id="column1">
        <h2>Maecenas luctus</h2>
        <p><img src="images/img06.jpg" width="300" height="150" alt="" /></p>
        <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
        <p class="button"><a href="#">Read More</a></p>
    </div>
    <div id="column2">
        <h2>Fusce fringilla</h2>
        <p><img src="images/img07.jpg" width="300" height="150" alt="" /></p>
        <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
        <p class="button"><a href="#">Read More</a></p>
    </div>
    <div id="column3">
        <h2>Praesent mattis</h2>
        <p><img src="images/img08.jpg" width="300" height="150" alt="" /></p>
        <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
        <p class="button"><a href="#">Read More</a></p>
    </div>
</div>

